* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --primary-color: #635fc7;
  --primary-bg-color: #f4f7fd;
  --primary-edit-color: #356eea;
  --primary-delete-color: #fb2727;
}

.App {
  min-height: 100vh;
}

button {
  padding: 8px 15px;
  border-radius: 18px;
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.sidebar {
  min-height: 70svh;
  width: 22rem;
  background-color: #fff;
}

.subHeading-text {
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: 10%;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  text-transform: uppercase;
}

.board-controller {
  display: none !important;
}

.board-controller>svg {
  cursor: pointer;
}

.board-controller>svg:first-child {
  color: rgb(54, 155, 255);
}

.board-controller>svg:last-child {
  color: rgb(255, 86, 86);
}

.skeleton-board-option {
  padding-left: 10% !important;
  width: 80%;
  border-radius: 0px 30px 30px 0px !important;
}

.error-board-option {
  margin: 20px 0px 0px -20px !important;
  width: 100%;
}

.board-option {
  padding-left: 10% !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  width: 80%;
  border-radius: 0px 30px 30px 0px !important;
}

.board-option>div {
  width: 100%;
  justify-content: space-between;
}

.board-option:hover .board-controller {
  display: flex !important;
}

.active-board {
  background-color: var(--primary-color);
  color: #fff;
}

.non-active-board {
  background-color: #fff !important;
  color: black !important;
}

.new-board-btn {
  margin: 20px 0px 0px 10% !important;
}

.new-board-input {
  margin: 20px 0px 0px 5% !important;
}

.edit-board-input {
  margin: 0px !important;
}

.edit-board-input>input {
  padding: 5px;
  background-color: #8886cc;
  width: 60%;
  outline-color: #7b7b7b;
}

.new-board-input svg {
  cursor: pointer;
}


#create-task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-bottom: 25px;
}

.tasks {
  min-height: 90svh;
  width: 100%;
  background-color: var(--primary-bg-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
}

.task-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.task-section>p {
  margin: 0px;
}

.task {
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.task-input>input {
  padding: 5px;
  background-color: transparent;
  width: 80%;
  outline-color: #7b7b7b;
}

.task-heading {
  font-size: 18px;
  font-weight: 700;
}

.subtask-info {
  font-size: 14px;
  color: rgb(142, 142, 142);
  font-weight: 500;
  letter-spacing: 0.5px;
}


.subtask {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
}

.subtask>svg {
  margin-left: auto;
  color: var(--primary-edit-color);
}

.subtask>input {
  accent-color: var(--primary-color);
  height: 15px;
  width: 15px;
}

.subtask-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-subtask {
  padding-bottom: 25px;
}

.edit-subtask svg {
  cursor: pointer;
}

.edit-subtask>header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-subtask>header>h2 {
  font-size: 25px;
}

.edit-subtask>header svg:first-child {
  color: var(--primary-edit-color);
}

.edit-subtask>header svg:last-child {
  color: var(--primary-delete-color);
}

.edit-subtask>header+div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Task Description */
.edit-subtask>header+div>div>p:first-child {
  font-weight: 600;
  color: #7b7b7b;
}


.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input-div>label {
  display: block;
}